

      
			
		#text{
			height: 25px;
			border-radius: 5px;
			padding: 4px;
			border: solid thin #aaa;
			width: 60%;
		}
		.form-container{
				width:380px;
				margin:auto;
				border-radius:25;
				background-color:rgba(0,0,0,0.2);

		}
		.header input,button{
			width:70px;
			height:30px;
			border:none;
			padding-left:5px;
			font-size:16px;
			color:#333;
			margin-bottom:20px;
			
		}
		.header label1{
			font-size:18px;
			color:white;
		}
		#password{
			height: 25px;
			border-radius: 5px;
			padding: 4px;
			border: solid thin #aaa;
			width: 60%;
		}
		#button{
				padding: 1px;
				width: 50px;
				color: white;
				background-color:transparent ;
				border: none;
		}
			
		#box{
				background-color:transparent ;
				margin: auto;
				width: 300px;
				padding: 20px;
			}	
		
		
			
			
		
			
          </style>
				
